body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neumorphism-toggls {
  position: relative;
  width: 280px;
  padding: 30px;
  background-color: #e3e6ec;
  box-shadow: 10px 10px 15px rgba(209, 217, 230, 1),
    -10px -10px 15px rgba(255, 255, 255, 1);
  border-radius: 20px;
  font-size: 0;
}
